@font-face {
    font-family: 'Instagram Sans';
    src: url('/fonts/InstagramSans-Regular.woff2') format('woff2'),
         url('/fonts/InstagramSans-Regular.woff') format('woff'),
         url('/fonts/InstagramSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  